<div class="main-nav">

    <div class="contenedor-nav" *ngIf="!movil">

        <div class="logo" routerLink="">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
    
        <div class="lista">
            <div class="elemento" routerLink="">Inicio</div>
            <div class="elemento" routerLink="nosotros">Nosotros</div>
            <div class="elemento" routerLink="coches">Coches</div>
            <div class="elemento" routerLink="contacto">Contacto</div>
        </div>
    
        <div class="identificarse">
            <div class="ident iniciar-sesion">Iniciar sesión</div>
            <div class="ident registro">
                <span>Registrarse</span>
            </div>
        </div>
        
    </div>


    <div class="contenedor-nav" *ngIf="movil">

        <div class="logo" routerLink="" (click)="this.menuAbierto = false">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        
        <div class="menu" (click)="abrirMenu()">
            <img *ngIf="!menuAbierto" src="../../assets/img/iconos/menu-icon.svg" alt="Menú">
            <img *ngIf="menuAbierto" src="../../assets/img/iconos/cerrar.svg" alt="Cerrar">
        </div>
    
    </div>

</div>



<div class="sidenav-container" *ngIf="menuAbierto">
    <div class="sidenav">
        <div class="opciones-container">
            <div class="opcion" routerLink="" (click)="this.menuAbierto = false">Inicio</div>
            <div class="opcion" routerLink="nosotros" (click)="this.menuAbierto = false">Nosotros</div>
            <div class="opcion" routerLink="coches" (click)="this.menuAbierto = false">Coches</div>
            <div class="opcion" routerLink="contacto" (click)="this.menuAbierto = false">Contacto</div>
        </div>
    </div>        
</div>