@use '../variables' as v;


.main-nav {
    height: v.$altura-nav;
    width: 99vw;
    min-width: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: white;
    //background-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0));
}


.contenedor-nav {
    width: 90%;
    max-width: v.$ancho-max;
    min-width: v.$ancho-min;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.logo, .menu {
    height: v.$altura-nav;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 80%;
}
.menu img {
    height: 60%;
}


.lista {
    display: flex;
    flex-direction: row;
}
.elemento {
    margin: 10px;
    cursor: pointer;
    font-weight: v.$bold-links;

    &:hover {
        //text-decoration: underline;
        color: v.$c-azul;
    }
}


.identificarse {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ident {
    margin: 10px;
    cursor: pointer;
}

.iniciar-sesion {
    font-weight: v.$bold-links;

    &:hover {
    //text-decoration: underline;
    color: v.$c-azul
    }
}

.registro {
    background-color: v.$c-azul;
    color: white;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: v.$sombra;
    border-radius: v.$border-radius;
    margin-right: 0;

    &:hover {
        background-color: v.$c-azul-claro;
    }
}



.sidenav-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.sidenav {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveToRight 0.5s ease-out;
}
.opciones-container {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.opcion {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: v.$c-azul;
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0px);
    }
}