@use '../variables' as v;

.main-nav {
    height: v.$altura-nav;
    width: 99vw;
    min-width: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    //background-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0));
}


.contenedor-nav {
    width: v.$ancho-max;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.logo {
    height: v.$altura-nav;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        height: 80%;
    }
}


.lista {
    display: flex;
    flex-direction: row;
}
.elemento {
    margin: 10px;
    cursor: pointer;
    font-weight: v.$bold-links;

    &:hover {
        //text-decoration: underline;
        color: v.$c-azul;
    }
}


.identificarse {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ident {
    margin: 10px;
    cursor: pointer;
}

.iniciar-sesion {
    font-weight: v.$bold-links;

    &:hover {
    //text-decoration: underline;
    color: v.$c-azul
    }
}

.registro {
    background-color: v.$c-azul;
    color: white;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: v.$sombra;
    border-radius: v.$border-radius;
    margin-right: 0;

    &:hover {
        background-color: v.$c-azul-claro;
    }
}