<div class="main-nav">

    <div class="contenedor-nav" *ngIf="!movil">

        <div class="logo" routerLink="">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
    
        <div class="lista">
            <div class="elemento" routerLink="">Inicio</div>
            <div class="elemento" routerLink="nosotros">Nosotros</div>
            <div class="elemento" routerLink="coches">Coches</div>
            <div class="elemento" routerLink="contacto">Contacto</div>
        </div>
    
        <div class="identificarse">
            <div class="ident iniciar-sesion">Iniciar sesión</div>
            <div class="ident registro">
                <span>Registrarse</span>
            </div>
        </div>
        
    </div>


    <div class="contenedor-nav" *ngIf="movil">

        <div class="logo" routerLink="">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        
        <div class="menu">
            <img src="../../../assets/img/menu-icon.svg" alt="Menú">
        </div>
        
    </div>

</div>