<div class="footer-container">

    <div class="seccion">
        <div class="titulo">Alquiler de coches</div>
        <div class="item texto">
            Alquila un coche eléctrico cuando quieras y donde quieras.
        </div>
        <div class="item contacto">
            <div class="icon"><img src="../../assets/img/telefono.svg" alt=""></div>
            <div class="link"><a href="tel:123456789">(+34) 123 456 789</a></div>
        </div>
        <div class="item contacto">
            <div class="icon"><img src="../../assets/img/correo.svg" alt=""></div>
            <div class="link"><a href="mailto:alquiler@coches.com">alquiler@coches.com</a></div>
        </div>
    </div>

    <div class="seccion">
        <div class="titulo">COMPAÑÍA</div>
        <div class="item">Sobre nosotros</div>
        <div class="item">Ofertas de trabajo</div>
        <div class="item">Noticias</div>
        <div class="item">Contacto</div>
    </div>

    <div class="seccion">
        <div class="titulo">REDES SOCIALES</div>
        <div class="item">LinkedIn</div>
        <div class="item">Facebook</div>
        <div class="item">Instagram</div>
        <div class="item">Twitter</div>
    </div>

    <div class="seccion">
        <div class="titulo">NOVEDADES</div>
        <div class="item texto">
            Suscríbete con tu correo electrónico para 
            recibir todas las novedades y ofertas.
        </div>
        <div class="item input-email">
            <input type="text" placeholder="Correo electrónico">
        </div>
        <div class="item boton"><span>Recibir novedades</span></div>
    </div>

</div>