@use '../variables' as v;

.footer-container {
    margin: auto;
    margin-top: v.$separacion-secciones;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.seccion {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0px;
}


.titulo {
    font-size: large;
    font-weight: bold;
    margin: 10px 0px;
}


a {
    text-decoration: none;
    color: black;
}


.item {
    font-size: normal;
    margin: 5px 0px;
    cursor: pointer;

    &:hover {
        //text-decoration: underline;
        color: v.$c-azul;
    }
}


.texto {
    cursor: auto;

    &:hover {
        text-decoration: none;
        color: black;
    }
}


.contacto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;

    &:hover {
        a{
            color: v.$c-azul;
        }
    }
}
.icon, .link {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}
.icon {
    width: 30px;

    img {
        height: 80%;
    }
}


.input-email {
    width: 100%;

    input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 40px;
        font-family: v.$font;
        padding: 0px 10px;
        border-radius: v.$border-radius;
        border: none;
        background-color: #e0e0e0;
        width: 100%;
    }
}


.boton {
    background-color: v.$c-azul;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: v.$sombra;
    border-radius: v.$border-radius;
    cursor: pointer;

    &:hover {
        background-color: v.$c-azul-claro;
        text-decoration: none;
        color: white;
    }
}

@media only screen and (max-width: 850px) {
    .footer-container {
        margin-top: v.$separacion-secciones-movil;
        flex-direction: column;
        align-items: center;
    }

    .seccion {
        width: 50%;
        margin: 10px 0px;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    .seccion {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    .seccion {
        width: 75%;
    }
}

@media only screen and (max-width: 400px) {
    .seccion {
        width: 90%;
    }
}