<div class="main-landing">

    <div class="ciudad-fondo">
        <img src="../../assets/img/Drawing City 2.png" alt="">
    </div>
    

    <div class="div-intro">
        <div class="titulo">
            <h1>La forma moderna de viajar.</h1>
            <h1><span>Coches 100% eléctricos.</span></h1>
        </div>
        <div class="subtitulo">
            Alquila un coche eléctrico cuando quieras y donde quieras. 
            Sin límite de kilómetros.
        </div>
        <div class="botones">
            <div class="boton" tabindex="0">
                <span>Alquilar</span>
            </div>
            <div class="boton" tabindex="0">
                <span>Saber más</span>
            </div>
        </div>
    </div>

    <div class="div-img">
        <img src="../../assets/img/Chevrolet Bolt EV.png" alt="Chevrolet Bolt EV">
    </div>

</div>