
$font: 'Poppins', sans-serif;
$bold-links: 700;

$ancho-max: 1100px;
$ancho-min: 450px;
$separacion-secciones: 150px;

$c-azul: #194AF8;
$c-azul-oscuro: #0C2378;
$c-azul-claro: #2b57f7;

$sombra: 0 6px 8px 0 #00000033, 0 8px 20px 0 #00000030;

$altura-nav: 80px;

$border-radius: 3px;
$btn-ancho: 160px;
$btn-alto: 60px;