
$font: 'Poppins', sans-serif;

$ancho-max: 1100px;
$ancho-min: 450px;
$separacion-secciones: 150px;

$c-prussian-blue: #012a4aff;
$c-indigo-dye: #013a63ff;
$c-indigo-dye-2: #01497cff;
$c-indigo-dye-3: #014f86ff;
$c-ucla-blue: #2a6f97ff;
$c-cerulean: #2c7da0ff;
$c-air-force-blue: #468fafff;
$c-air-superiority-blue: #61a5c2ff;
$c-sky-blue: #89c2d9ff;
$c-light-blue: #a9d6e5ff;
$c-light-blue-2: #c5e9f5;

$c-azul: #194AF8;
$c-azul-oscuro: #0C2378;
$c-azul-claro: #2b57f7;

$sombra: 0 6px 8px 0 #00000033, 0 8px 20px 0 #00000030;

$altura-nav: 80px;

$border-radius: 3px;
$btn-ancho: 160px;
$btn-alto: 60px;