<div class="eficiencia-container">

    <div class="img-container">
        <img src="../../assets/img/mundo.png" alt="">
    </div>

    <div class="texto-container">
        <div class="titulo">
            Creemos que una movilidad más eficiente es posible
        </div>

        <div class="texto">
            <p>
                El 25% de las emisiones de CO2 provienen del transporte 
                y el número de coches en las calles aumenta cada día. 
                Nosotros creemos que un mundo más verde es 
                posible.
            </p>
            <p>
                Nuestra misión principal es ayudar a mejorar el medioambiente 
                y a crear una movilidad más eficaz y sostenible. Por eso, 
                ofrecemos diferentes soluciones que permiten compartir 
                coche con familiares y amigos.
            </p>
            <p>
                Esto es por lo que ayudamos a las personas a compartir 
                sus coches. Por una movilidad responsable.
            </p>
        </div>
    </div>

</div>