@use '../../variables' as v;


.eficiencia-container {
    margin-top: v.$separacion-secciones;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.img-container {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: fit-content;
        width: 70%;
        -webkit-animation: girar 20s linear infinite;
        -moz-animation: girar 20s linear infinite;
        animation: girar 20s linear infinite;
    }
    @-moz-keyframes girar { 
        100% { -moz-transform: rotate(360deg); } 
    }
    @-webkit-keyframes girar { 
        100% { -webkit-transform: rotate(360deg); } 
    }
    @keyframes girar { 
        100% { 
            -webkit-transform: rotate(360deg); 
            transform:rotate(360deg); 
        } 
    }
}


.texto-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.titulo {
    font-size: xx-large;
    font-weight: bold;
}





@media only screen and (max-width: 1150px) {
    .img-container {
        width: 40%;
        img {
            width: 80%;
        }
    }

    .texto-container {
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    .eficiencia-container {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: v.$separacion-secciones-movil;
    }

    .texto-container {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .img-container {
        margin-top: 40px;
        width: 60%;
        img {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .img-container {
        width: 70%;
        img {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 550px) {
    .img-container {
        width: 80%;
        img {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 450px) {
    .img-container {
        width: 90%;
        img {
            width: 80%;
        }
    }
}