<div class="destacados-container">

    <img class="bg-img" src="../../assets/img/fondo-blanco-clarito.png" alt="">

    <div class="titulo-destacados">
        <h3>Disfruta de la mejor experiencia</h3>
    </div>

    <div class="puntos">

        <div class="punto">
            <div class="punto-img">
                <img src="../../assets/img/arboles.svg" alt="">
            </div>
            <div class="punto-titulo">Medio ambiente</div>
            <div class="punto-texto">
                ¡Es hora de cambiar! Contribuye al medio ambiente 
                cambiándote al transporte eléctrico.
            </div>
        </div>

        <div class="punto">
            <div class="punto-img">
                <img src="../../assets/img/coche.svg" alt="">
            </div>
            <div class="punto-titulo">Mantenimiento</div>
            <div class="punto-texto">
                Nuestros vehículos están siempre en las mejores 
                condiciones. Priorizamos tu seguridad y comodidad.
            </div>
        </div>

        <div class="punto">
            <div class="punto-img">
                <img src="../../assets/img/estacion.svg" alt="">
            </div>
            <div class="punto-titulo">Estaciones</div>
            <div class="punto-texto">
                No te preocupes por quedarte sin batería, ¡hay 
                estaciones de carga en todos lados!
            </div>
        </div>

        <div class="punto">
            <div class="punto-img">
                <img src="../../assets/img/cara-feliz.svg" alt="">
            </div>
            <div class="punto-titulo">Fácil de usar</div>
            <div class="punto-texto">
                Tan simple como indicarnos qué día y dónde quieres el coche, 
                nosotros te estaremos esperando allí.
            </div>
        </div>

    </div>

</div>