@use '../../variables' as v;

.destacados-container {
    margin-top: v.$separacion-secciones;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bg-img {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 550px;
    width: 100vw;
    z-index: -1;
}


.titulo-destacados {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}


.puntos {
    margin: 30px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.sector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


.punto {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .punto-img {
        height: 100px;
        width: 100px;
        border-radius: v.$border-radius * 4;
        background-color: #e1e8ff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70%;
        }
    }
    .punto-titulo {
        font-size: x-large;
        font-weight: bold;
        margin-top: 25px;
        text-align: center;
    }
    .punto-texto {
        font-size: medium;
        color: #3a3a3a;
        margin-top: 15px;
        text-align: center;
    }
}


@media only screen and (max-width: 1100px) {
    .puntos {
        width: 80%;
        height: max-content;
    }

    .sector {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .punto {
        height: 350px;
        width: 60%;
    }

    .bg-img {
        height: 950px;
    }
}

@media only screen and (max-width: 1000px) {
    .destacados-container {
        margin-top: v.$separacion-secciones-movil;
    }
}

@media only screen and (max-width: 936px) {
    .punto {
        width: 70%;
    }
}

@media only screen and (max-width: 850px) {
    .puntos {
        width: 100%;
    }
}

@media only screen and (max-width: 636px) {
    .puntos {
        flex-direction: column;
    }

    .punto {
        width: 50%;
        height: 300px;
    }

    .bg-img {
        height: 1500px;
    }
}

@media only screen and (max-width: 550px) {
    .punto {
        height: 350px;
    }

    .bg-img {
        height: 1700px;
    }
}